@import "reset.css";
@import "debug.css";

/* https://fonts.google.com/specimen/Work+Sans?preview.size=24&preview.text_type=numerals */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap');

@import "ds_digital.css";

@import "blink.css";

#container {
  min-width: 245px;

  margin: 10px;
    
  display: grid;  
  grid-template-areas:
    "display display display display"
    "seven eight nine division"
    "four five six mult"
    "one two three minus"
    "clear zero equal plus"
    ;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  
  gap: 5px;
}

#display {
    font-family: 'DS-Digital', monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 70px;
    
    background-color: lightgray;
}

button {
    background-color: darkgray;
    color: white;
    font-size: 48px;
    border-radius: 5px;
}

.number {
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
}

#display {
    border: 3.5px gray inset;
    
    /* justify-self: end; */
    text-align: right;
}

#display {
  grid-area: display;
}

.zero {
  grid-area: zero;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.division {
  grid-area: division;
}

.mult {
  grid-area: mult;
}

.plus {
  grid-area: plus;
}

.minus {
  grid-area: minus;
}

#clear {
  grid-area: clear;
}

#equal {
  grid-area: equal;
}

#memclear {
  grid-area: memclear;
}

#memrestore {
  grid-area: memrestore;
}

#menminus {
  grid-area: menminus;
}

#memplus {
  grid-area: memplus;
}

#sig {
  grid-area: sig;
}

#percent {
  grid-area: percent;
}

#sqr {
  grid-area: sqr;
}

#period {
  grid-area: period;
}

@media screen and (min-width: 480px) {
  #container {
     min-width: 480px;

    grid-template-areas:
      "display display display display display"
      "memclear memrestore menminus memplus division"
      "sig seven eight nine mult"
      "percent four five six minus"
      "sqr one two three plus"
      "clear period zero equal equal"
      ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}