@import "reset.css";
@import "debug.css";

/* https://fonts.google.com/specimen/Work+Sans?preview.size=24&preview.text_type=numerals */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap');

@import "ds_digital.css";

#container {
  min-width: 320px;
  max-width: 680px;
  margin: 10px;
    
  display: grid;  
  grid-template-areas:
    "display display display display"
    "seven eight nine division"
    "four five six mult"
    "one two three minus"
    "clear zero equal plus"
    ;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  
  gap: 5px;
}

#display {
    font-family: 'DS-Digital', monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    
    background-color: lightgray;
}

button {
    background-color: darkgray;
    color: white;
    
    border-radius: 5px;
}

.number {
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
}

.operator, #clear, #equal {
    font-size: 48px;
}

#display {
    border: 3.5px gray inset;
    
    /* justify-self: end; */
    text-align: right;
}

#display {
  grid-area: display;
}

.zero {
  grid-area: zero;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.division {
  grid-area: division;
}

.mult {
  grid-area: mult;
}

.plus {
  grid-area: plus;
}

.minus {
  grid-area: minus;
}

#clear {
  grid-area: clear;
}

#equal {
  grid-area: equal;
}
